*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-details{
    display: flex;
    margin: 50px 0;
}

.product-image{
    flex: 1;
}

.product-image img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.product-description{
    flex: 1;
    margin-left: 10px;
    padding: 10px;
}

.product-description small{
    background-color: #FF6600;
    color: #ffffff;
    padding: 3px 5px;
}

.product-description h2{
    padding: 10px 0;
    text-transform: uppercase;
    color: #555555;
}

.product-description .prod-short-desc{
    padding: 10px 0 !important;
}

.product-description .product-rating{
    padding: 10px 0;
    color: #990066;
}

.product-description .product-price{
    padding: 10px 0;
    font-size: 30px;
    color: #FF6600;
}
.product-description .available{
    padding: 10px 0;   
}

.product-description .qty-btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.qty-btn > p{
    margin-right: 10px;
}

.qty-btn > input{
    width: 50px;
    height: 30px;
    border: 1px solid #FF6600;
    padding: 10px;
    outline: none;
    margin: 0 10px;
}

.qty-btn .prod-cart-btn{
    margin: 0 10px;
    padding: 8px 10px;
    border: none;
    background-color: #FF6600;
    color: #ffffff;
    cursor: pointer;
    transition: all .5s ease;
}

.prod-cart-btn:hover{
    background-color: #FF9900;
}

/* Styling For Zoom Image */

/* Responsiveness */

@media only screen and (max-width:567px) {
    .product-details{
        flex-direction: column;
    }
    
    .product-description{
        margin: 20px 0 0 0;
        padding: 0px;
    }
}